TG_BOT_API=your_telegram_bot_token
MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/polytopup?charset=utf8mb4&parseTime=True&loc=Local
BOT_NAME=polytopup
AGENT=admin
SUPPORT_USERNAME=@Poly
SUPPORT_WORK_TIME=9:00-22:00
TG_DEBUG=false
DEFAULT_LANG=zh
SUPPORTED_LANGS=zh,en
TRANSLATIONS_DIR=translations
TOPUP_NOTIFY_CHAT_ID=123456
ORDER_IMAGE_PATH=./static/CCTV.png
