TG_BOT_API=your_telegram_bot_token
MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/polytopup?charset=utf8mb4&parseTime=True&loc=Local
BOT_NAME=polytopup
AGENT=admin

# 可选参数
TG_DEBUG=false
TOPUP_NOTIFY_CHAT_ID=0
DEFAULT_LANG=zh
TRANSLATIONS_DIR=translations
ORDER_IMAGE_PATH=./static/CCTV.png
